[Unit]
Description=Eclipso DNS service
Wants=network.target
After=network.target

[Service]
Type=simple
User=root
Environment=PORT="53"
ExecStart=/home/benduncan/eclipso
StandardOutput=syslog

[Install]
WantedBy=multi-user.target